@import "bootstrap/bootstrap.scss"
@import "reset"
@import "fonts"

@import "variables"
@import "typography"

@import "header"
@import "footer"

@import "components"
@import "sections/sections"

body
    font-family: Poppins
    font-size: 14px
    color: $mainColor
    background: $mainBcg
.body--disable
    overflow-y: hidden
a
    color: $mainColor
    &:hover
        opacity: 0.7
.flexbox
    display: flex
.wrap
    flex-wrap: wrap
.main-container
    position: relative
.hide
    display: none
.block
    border: 1px solid black
    margin: 0 auto
.block_table td
    border: 1px solid black
.topPadding
    padding-top: 180px
@media only screen and (max-width: 991px)
    .topPadding
        padding-top: 100px
.main
    min-height: 90vh

.confirmed
    background-color: #d1e7dd
    border-color: #badbcc
.canseled
    background-color: #f8d7da
    border-color: #f5c2c7
.pending
    background-color: #fff3cd
    border-color: #ffecb5
.fetch
    z-index: 3

// блок вывода сообщений

.message-wrapper
    font-size: 2rem
    position: fixed
    width: 100%
    height: 100vh
    z-index: 10
    background-color: #2a66d65e
.message-block
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border: none
    border-radius: 15px
    max-width: 100%
    width: max-content
    padding: 15px
    background-color: #fff
.message-block__button
    float: right
    width: min-content
    transition: transform 5s linear
    &:hover
        transform: rotate(360deg)
.hidden
    visibility: hidden
